.chatbubble {
  background-color: var(--primary-color);
  color: #bde0ff;
  border-radius: 3rem;
  padding: 2rem;
  width: 70%;
  border-left: 1px solid #003a6d;
  border-right: 1px solid #003a6d;
  border-bottom: 3px solid #003a6d;
  border-bottom-left-radius: 0;
}
