.image-with-text {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &__paragraph {
    width: 50%;
    padding: 2rem;
    color: var(--primary-color);
    background-color: #fff;
    font-weight: 600;
    border-bottom: 5px solid var(--primary-color);
    font-style: italic;
    border-radius: 1.5rem;
  }
}
