@import "../../../../styles/style-variables.scss";

.giant-header {
  white-space: pre-line;
  text-align: center;
  padding: 2rem;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
}

.undertext {
  text-align: center;
  width: 20em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
