.overview {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  min-height: 100vh;
  padding-bottom: 3rem;
  padding: 1rem;

  .header {
    padding: 3rem;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h2 {
    color: var(--primary-color);
  }

  &__children {
    flex: 0 0 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;

    & > * {
      flex: 0 0 45%;
      margin-bottom: 2.5rem;
    }
  }
}
