.overview {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h2 {
    color: var(--primary-color);
  }

  &__image {
    flex: 1;
    flex: 0 0 40%;
    position: relative;
    overflow: hidden;
    background-color: royalblue;

    img {
      min-height: 100vh;
      position: absolute;
      opacity: 0.9;

      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  &__children {
    flex: 0 0 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;

    & > * {
      flex: 0 0 45%;
      margin-bottom: 2.5rem;
    }
  }
}
