:root {
  // COLOR STYLES FOR TEXT
  --primary-color: #004685;
  --secondary-color: #94d0d7;
  --tertiary-color: #307278;

  // SHADES
  --dark-color: #333333;

  // TEXT SIZES
  --small-text: 1.4rem;
  --medium-text: 2rem;
  --large-text: 3.5rem;
}

$bp-largest: 75em;
$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;
$bp-smallest: 31.25em;

@mixin borders($radius, $shadow: false, $color: red) {
  border-radius: $radius;
  border-bottom: 4px solid $color;
  border-left: 0.5px solid $color;
  border-right: 0.5px solid $color;

  @if ($shadow) {
    box-shadow: 0 0 5px $color;
  }
}
