:root {
  // COLOR STYLES FOR TEXT
  --primary-color: #004685;
  --secondary-color: #94d0d7;
  --tertiary-color: #307278;

  // SHADES
  --dark-color: #333333;

  // TEXT SIZES
  --small-text: 1.4rem;
  --medium-text: 2rem;
  --large-text: 3.5rem;
}

@mixin borders($radius, $shadow) {
  border-radius: $radius;
  border-bottom: 4px solid #eee;
  border-left: 0.5px solid #eee;
  border-right: 0.5px solid #eee;

  @if ($shadow) {
    box-shadow: 0 0 5px #eee;
  }
}
