.paragraph {
  color: var(--dark-color);
}

.icon-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 8rem;
    margin-right: 3rem;
  }
}

.side-line {
  border-left: 0.35rem solid var(--primary-color);
  padding-left: 3rem;
}
