.paragraph-split {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: top;
  justify-content: space-around;

  img {
    align-self: center;
    width: 30%;
    flex: 0;
    border-radius: 3rem;
    padding: 0px;
  }

  .icon {
    width: 20%;
    flex: 0 1 30%;
    border: none;
    background-color: var(--primary-color);
    border-radius: 100%;
  }

  * {
    display: flex;
    flex: 30%;
    font-size: 0.94rem;
    margin: 3rem;
  }
}

.fifty {
  height: 50vh;
}

.thirty {
  height: 30vh;
}
