.image-gallery {
  overflow: hidden;

  display: flex;

  &_image-container {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

// GALLERY STYLES

.vertical {
  flex-direction: column;
  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.horizontal {
  flex-direction: row;
  & > *:not(:last-child) {
    margin-right: 1rem;
  }
}
