.paragraph-section {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  align-self: center;
  padding: 5rem;
  background-color: var(--primary-color);

  p {
    position: relative;
    margin-bottom: 3rem;
    padding: 0 3rem;
    color: #bde0ff;
    font-size: 1.12rem;
    font-weight: 400;

    &:not(:last-child):after {
      content: "➝";
      color: #ccc;
      font-weight: 600;
      padding-left: 0.8rem;
    }
  }
}
