@import "../../../styles/style-variables.scss";

.achivement-card {
  border-radius: 3rem;
  background-color: rgba($color: #004685, $alpha: 0.8);

  width: 50%;
  height: auto;
  border-bottom: 3px solid #00427c;
  border-right: 1px solid #003a6d;
  border-left: 1px solid #003a6d;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 5px #999;

  @media only screen and (max-width: $bp-small) {
    padding: 0px;
    flex-direction: column;
    width: 90%;
    background-color: none;
    box-shadow: none;
  }

  &__image {
    border-radius: 3rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 20%;

    @media only screen and (max-width: $bp-small) {
      padding: 1rem;
      flex-direction: column;
      width: 30% !important;
    }

    img {
      width: 100%;
    }
  }

  &__list {
    padding: 2rem;

    & > * {
      padding: 1rem;

      @media only screen and (max-width: $bp-small) {
        padding: 0px;
      }
    }

    h3 {
      font-size: 1.6rem;
      @media only screen and (max-width: $bp-small) {
        font-size: 1.3rem;
      }
    }

    ul {
      list-style: none;

      li:not(:first-child) {
        padding-top: 2rem;
      }
      li {
        font-size: 1.2rem;
        font-style: italic;
      }
      li:before {
        content: "- ";
      }
    }
  }

  &__title {
  }
}
